<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxyw.dao.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.lxyw.entity.CustomerInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName" />
    <result column="CUSTOMER_TYPE" jdbcType="VARCHAR" property="customerType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CUSTOMER_CELLPHONE" jdbcType="VARCHAR" property="customerCellphone" />
    <result column="CUSTOMER_EMAIL" jdbcType="VARCHAR" property="customerEmail" />
    <result column="CUSTOMER_ADDRESS" jdbcType="VARCHAR" property="customerAddress" />
    <result column="CUSTOMER_REMARK" jdbcType="VARCHAR" property="customerRemark" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CUSTOMER_NAME, CUSTOMER_TYPE, STATUS, CUSTOMER_CELLPHONE, CUSTOMER_EMAIL, 
    CUSTOMER_ADDRESS, CUSTOMER_REMARK, CREATED_BY, CREATED_DATE, UPDATE_BY, UPDATE_DATE, 
    VERSION,STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from customer_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lxyw.entity.CustomerInfo">
    insert into customer_info (ID, CUSTOMER_NAME, CUSTOMER_TYPE, 
      STATUS, CUSTOMER_CELLPHONE, CUSTOMER_EMAIL, 
      CUSTOMER_ADDRESS, CUSTOMER_REMARK, CREATED_BY, 
      CREATED_DATE, UPDATE_BY, UPDATE_DATE, 
      VERSION,STATUS)
    values (#{id,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{customerCellphone,jdbcType=VARCHAR}, #{customerEmail,jdbcType=VARCHAR}, 
      #{customerAddress,jdbcType=VARCHAR}, #{customerRemark,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT},#{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lxyw.entity.CustomerInfo">
    insert into customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="customerName != null">
        CUSTOMER_NAME,
      </if>
      <if test="customerType != null">
        CUSTOMER_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="customerCellphone != null">
        CUSTOMER_CELLPHONE,
      </if>
      <if test="customerEmail != null">
        CUSTOMER_EMAIL,
      </if>
      <if test="customerAddress != null">
        CUSTOMER_ADDRESS,
      </if>
      <if test="customerRemark != null">
        CUSTOMER_REMARK,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="customerCellphone != null">
        #{customerCellphone,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null">
        #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null">
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerRemark != null">
        #{customerRemark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{STATUS,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxyw.entity.CustomerInfo">
    update customer_info
    <set>
      <if test="customerName != null">
        CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="customerCellphone != null">
        CUSTOMER_CELLPHONE = #{customerCellphone,jdbcType=VARCHAR},
      </if>
      <if test="customerEmail != null">
        CUSTOMER_EMAIL = #{customerEmail,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null">
        CUSTOMER_ADDRESS = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerRemark != null">
        CUSTOMER_REMARK = #{customerRemark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        STATUS=#{STATUS,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxyw.entity.CustomerInfo">
    update customer_info
    set CUSTOMER_NAME = #{customerName,jdbcType=VARCHAR},
      CUSTOMER_TYPE = #{customerType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CUSTOMER_CELLPHONE = #{customerCellphone,jdbcType=VARCHAR},
      CUSTOMER_EMAIL = #{customerEmail,jdbcType=VARCHAR},
      CUSTOMER_ADDRESS = #{customerAddress,jdbcType=VARCHAR},
      CUSTOMER_REMARK = #{customerRemark,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=BIGINT},
      STATUS = # {status ,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    <!--
      WARNING - @mbg.generated
      这个节点为代码生成工具生成，请不要修改!
      @author hewei
    -->
    insert into customer_info (ID, CUSTOMER_NAME, CUSTOMER_TYPE, STATUS, CUSTOMER_CELLPHONE, CUSTOMER_EMAIL, CUSTOMER_ADDRESS, CUSTOMER_REMARK, CREATED_BY, CREATED_DATE, UPDATE_BY, UPDATE_DATE, VERSION,STATUS)
    values
    <foreach collection="list" item="item" separator=",">
       (#{item.id,jdbcType=VARCHAR}, #{item.customerName,jdbcType=VARCHAR}, #{item.customerType,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.customerCellphone,jdbcType=VARCHAR}, #{item.customerEmail,jdbcType=VARCHAR}, #{item.customerAddress,jdbcType=VARCHAR}, #{item.customerRemark,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=VARCHAR}, #{item.createdDate,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.version,jdbcType=BIGINT}, #{item.status,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectCustomerInfoListByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from customer_info
    where
    1=1
    <if test="condition.customerName != null and condition.customerName !=''">
      AND CUSTOMER_NAME LIKE #{condition.customerName}"%"
    </if>
    <if test="condition.customerType != null and condition.customerType!=null">
      AND CUSTOMER_TYPE = #{condition.customerType,jdbcType=VARCHAR}
    </if>
    <if test="condition.status != null and condition.status!=''">
      AND STATUS = #{condition.status,jdbcType=VARCHAR}
    </if>
    <if test="condition.customerCellphone != null and condition.customerCellphone!=''">
      AND CUSTOMER_CELLPHONE LIKE #{condition.customerCellphone}"%"
    </if>
    <if test="condition.customerEmail != null and condition.customerEmail !=''">
      AND CUSTOMER_EMAIL = #{condition.customerEmail,jdbcType=VARCHAR}
    </if>
    <if test="condition.customerAddress != null and condition.customerAddress!=''">
      AND CUSTOMER_ADDRESS = #{condition.customerAddress,jdbcType=VARCHAR}
    </if>
    <if test="condition.customerRemark != null and condition.customerRemark!=''">
      AND CUSTOMER_REMARK = #{condition.customerRemark,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdBy != null and condition.createdBy!=''">
      AND CREATED_BY = #{condition.createdBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdDate != null">
      AND CREATED_DATE = #{condition.createdDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.updateBy != null">
      AND UPDATE_BY = #{condition.updateBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.updateDate != null">
      AND UPDATE_DATE = #{condition.updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.version != null">
      AND VERSION = #{condition.version,jdbcType=BIGINT}
    </if>
    <if test="condition.status != null">
      AND STATUS = #{condition.status,jdbcType=VARCHAR}
    </if>
    ORDER BY CREATED_DATE DESC
    limit #{startIndex},#{limit}
  </select>

  <select id="selectCustomerInfoCountByCondition" resultType="java.lang.Integer">
    select
    count(1)
    from customer_info
    where
    1=1
    <if test="condition.customerName != null and condition.customerName !=''">
      AND CUSTOMER_NAME LIKE #{condition.customerName}"%"
    </if>
    <if test="condition.customerType != null and condition.customerType!=null">
      AND CUSTOMER_TYPE = #{condition.customerType,jdbcType=VARCHAR}
    </if>
    <if test="condition.status != null and condition.status!=''">
      AND STATUS = #{condition.status,jdbcType=VARCHAR}
    </if>
    <if test="condition.customerCellphone != null and condition.customerCellphone!=''">
      AND CUSTOMER_CELLPHONE LIKE #{condition.customerCellphone}"%"
    </if>
    <if test="condition.customerEmail != null and condition.customerEmail !=''">
      AND CUSTOMER_EMAIL = #{condition.customerEmail,jdbcType=VARCHAR}
    </if>
    <if test="condition.customerAddress != null and condition.customerAddress!=''">
      AND CUSTOMER_ADDRESS = #{condition.customerAddress,jdbcType=VARCHAR}
    </if>
    <if test="condition.customerRemark != null and condition.customerRemark!=''">
      AND CUSTOMER_REMARK = #{condition.customerRemark,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdBy != null and condition.createdBy!=''">
      AND CREATED_BY = #{condition.createdBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdDate != null">
      AND CREATED_DATE = #{condition.createdDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.updateBy != null">
      AND UPDATE_BY = #{condition.updateBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.updateDate != null">
      AND UPDATE_DATE = #{condition.updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.version != null">
      AND VERSION = #{condition.version,jdbcType=BIGINT}
    </if>
    <if test="condition.status != null">
      AND STATUS = #{condition.status,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>