<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxyw.dao.SupplierSubjectMapper">
  <resultMap id="BaseResultMap" type="com.lxyw.entity.SupplierSubject">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="SUPPLIER_NAME" jdbcType="VARCHAR" property="supplierName" />
    <result column="SUPPLIER_TYPE" jdbcType="VARCHAR" property="supplierType" />
    <result column="SUPPLIER_EMAIL" jdbcType="VARCHAR" property="supplierEmail" />
    <result column="SUPPLIER_LOCATION" jdbcType="VARCHAR" property="supplierLocation" />
    <result column="SUPPLIER_CELLPHONE" jdbcType="VARCHAR" property="supplierCellphone" />
    <result column="SUPPLIER_ADDRESS" jdbcType="VARCHAR" property="supplierAddress" />
    <result column="SUPPLIER_REMARK" jdbcType="VARCHAR" property="supplierRemark" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SUPPLIER_NAME, SUPPLIER_TYPE, SUPPLIER_EMAIL, SUPPLIER_LOCATION, SUPPLIER_CELLPHONE, 
    SUPPLIER_ADDRESS, SUPPLIER_REMARK, CREATED_BY, CREATED_DATE, UPDATE_BY, UPDATE_DATE, 
    VERSION, STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supplier_subject
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from supplier_subject
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lxyw.entity.SupplierSubject">
    insert into supplier_subject (ID, SUPPLIER_NAME, SUPPLIER_TYPE, 
      SUPPLIER_EMAIL, SUPPLIER_LOCATION, SUPPLIER_CELLPHONE, 
      SUPPLIER_ADDRESS, SUPPLIER_REMARK, CREATED_BY, 
      CREATED_DATE, UPDATE_BY, UPDATE_DATE, 
      VERSION, STATUS)
    values (#{id,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, #{supplierType,jdbcType=VARCHAR}, 
      #{supplierEmail,jdbcType=VARCHAR}, #{supplierLocation,jdbcType=VARCHAR}, #{supplierCellphone,jdbcType=VARCHAR}, 
      #{supplierAddress,jdbcType=VARCHAR}, #{supplierRemark,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lxyw.entity.SupplierSubject">
    insert into supplier_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME,
      </if>
      <if test="supplierType != null">
        SUPPLIER_TYPE,
      </if>
      <if test="supplierEmail != null">
        SUPPLIER_EMAIL,
      </if>
      <if test="supplierLocation != null">
        SUPPLIER_LOCATION,
      </if>
      <if test="supplierCellphone != null">
        SUPPLIER_CELLPHONE,
      </if>
      <if test="supplierAddress != null">
        SUPPLIER_ADDRESS,
      </if>
      <if test="supplierRemark != null">
        SUPPLIER_REMARK,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierType != null">
        #{supplierType,jdbcType=VARCHAR},
      </if>
      <if test="supplierEmail != null">
        #{supplierEmail,jdbcType=VARCHAR},
      </if>
      <if test="supplierLocation != null">
        #{supplierLocation,jdbcType=VARCHAR},
      </if>
      <if test="supplierCellphone != null">
        #{supplierCellphone,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null">
        #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierRemark != null">
        #{supplierRemark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lxyw.entity.SupplierSubject">
    update supplier_subject
    <set>
      <if test="supplierName != null">
        SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierType != null">
        SUPPLIER_TYPE = #{supplierType,jdbcType=VARCHAR},
      </if>
      <if test="supplierEmail != null">
        SUPPLIER_EMAIL = #{supplierEmail,jdbcType=VARCHAR},
      </if>
      <if test="supplierLocation != null">
        SUPPLIER_LOCATION = #{supplierLocation,jdbcType=VARCHAR},
      </if>
      <if test="supplierCellphone != null">
        SUPPLIER_CELLPHONE = #{supplierCellphone,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null">
        SUPPLIER_ADDRESS = #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierRemark != null">
        SUPPLIER_REMARK = #{supplierRemark,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lxyw.entity.SupplierSubject">
    update supplier_subject
    set SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      SUPPLIER_TYPE = #{supplierType,jdbcType=VARCHAR},
      SUPPLIER_EMAIL = #{supplierEmail,jdbcType=VARCHAR},
      SUPPLIER_LOCATION = #{supplierLocation,jdbcType=VARCHAR},
      SUPPLIER_CELLPHONE = #{supplierCellphone,jdbcType=VARCHAR},
      SUPPLIER_ADDRESS = #{supplierAddress,jdbcType=VARCHAR},
      SUPPLIER_REMARK = #{supplierRemark,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into supplier_subject (ID, SUPPLIER_NAME, SUPPLIER_TYPE, SUPPLIER_EMAIL, SUPPLIER_LOCATION, SUPPLIER_CELLPHONE, SUPPLIER_ADDRESS, SUPPLIER_REMARK, CREATED_BY, CREATED_DATE, UPDATE_BY, UPDATE_DATE, VERSION, STATUS)
    values
    <foreach collection="list" item="item" separator=",">
       (#{item.id,jdbcType=VARCHAR}, #{item.supplierName,jdbcType=VARCHAR}, #{item.supplierType,jdbcType=VARCHAR}, #{item.supplierEmail,jdbcType=VARCHAR}, #{item.supplierLocation,jdbcType=VARCHAR}, #{item.supplierCellphone,jdbcType=VARCHAR}, #{item.supplierAddress,jdbcType=VARCHAR}, #{item.supplierRemark,jdbcType=VARCHAR}, #{item.createdBy,jdbcType=VARCHAR}, #{item.createdDate,jdbcType=TIMESTAMP}, #{item.updateBy,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=TIMESTAMP}, #{item.version,jdbcType=BIGINT}, #{item.status,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <select id="selectSupplierSubjectoListByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supplier_subject
    where 1=1
    <if test="condition.supplierName != null and condition.supplierName!=''">
      AND SUPPLIER_NAME LIKE #{condition.supplierName}"%"
    </if>
    <if test="condition.supplierType != null">
      AND SUPPLIER_TYPE = #{condition.supplierType,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierEmail != null and condition.supplierEmail!=''">
      AND SUPPLIER_EMAIL = #{condition.supplierEmail,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierLocation != null and condition.supplierLocation!=''">
      AND SUPPLIER_LOCATION = #{condition.supplierLocation,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierCellphone != null and condition.supplierCellphone!=''">
      AND SUPPLIER_CELLPHONE = #{condition.supplierCellphone,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierAddress != null and condition.supplierAddress!=''">
      AND SUPPLIER_ADDRESS = #{condition.supplierAddress,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierRemark != null and condition.supplierRemark!=''">
      AND SUPPLIER_REMARK = #{condition.supplierRemark,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdBy != null">
      AND CREATED_BY = #{condition.createdBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdDate != null">
      AND CREATED_DATE = #{condition.createdDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.updateBy != null">
      AND UPDATE_BY = #{condition.updateBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.updateDate != null">
      AND UPDATE_DATE = #{condition.updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.version != null">
      AND VERSION = #{condition.version,jdbcType=BIGINT}
    </if>
    <if test="condition.status != null and condition.status!=''">
      AND STATUS = #{condition.status,jdbcType=VARCHAR}
    </if>
    ORDER BY CREATED_DATE DESC
    limit #{startIndex},#{limit}
  </select>

  <select id="selectSupplierSubjectCountByCondition" resultType="java.lang.Integer">
    select
    count(1)
    from supplier_subject
    where 1=1
    <if test="condition.supplierName != null and condition.supplierName!=''">
      AND SUPPLIER_NAME LIKE #{condition.supplierName}"%"
    </if>
    <if test="condition.supplierType != null">
      AND SUPPLIER_TYPE = #{condition.supplierType,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierEmail != null and condition.supplierEmail!=''">
      AND SUPPLIER_EMAIL = #{condition.supplierEmail,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierLocation != null and condition.supplierLocation!=''">
      AND SUPPLIER_LOCATION = #{condition.supplierLocation,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierCellphone != null and condition.supplierCellphone!=''">
      AND SUPPLIER_CELLPHONE = #{condition.supplierCellphone,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierAddress != null and condition.supplierAddress!=''">
      AND SUPPLIER_ADDRESS = #{condition.supplierAddress,jdbcType=VARCHAR}
    </if>
    <if test="condition.supplierRemark != null and condition.supplierRemark!=''">
      AND SUPPLIER_REMARK = #{condition.supplierRemark,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdBy != null">
      AND CREATED_BY = #{condition.createdBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.createdDate != null">
      AND CREATED_DATE = #{condition.createdDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.updateBy != null">
      AND UPDATE_BY = #{condition.updateBy,jdbcType=VARCHAR}
    </if>
    <if test="condition.updateDate != null">
      AND UPDATE_DATE = #{condition.updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="condition.version != null">
      AND VERSION = #{condition.version,jdbcType=BIGINT}
    </if>
    <if test="condition.status != null and condition.status!=''">
      AND STATUS = #{condition.status,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>